<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bisection Method</title>
</head>
<body>
<h1>Finding the value using bisection method</h1>
<form action="#" method="post">
    <p>Enter the function</p>
    <p><input type="any" name="eq" /></p>
	<p>Enter the first guess:</p>
	<p><input type="any" name="a" /></p>
    <p>Enter the second guess:</p>
    <p><input type="any" name="b" /></p>
	<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>