{% extends 'layout.html' %}
{% block content %}
<form action="#" method="post">
	<p>Enter the xi value in micro meters</p>
	<p><input type="any" name="a" /></p>
    <p>Enter the xf value in micro meters</p>
	<p><input type="any" name="b" /></p>
    <p>Enter the zi value</p>
	<p><input type="any" name="c" /></p>
    <p>Enter the zf value</p>
	<p><input type="any" name="d" /></p>
    <p>Enter the wavelength value in micro meters</p>
	<p><input type="any" name="e" /></p>
    <p>Width at focus in micro meters</p>
	<p><input type="any" name="f" /></p>





	<p><input type="submit" value="submit"/></p>
</form>

{% endblock %}