<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Integration</title>
</head>
<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="addition">Addition</a>
  <a href="subtraction">Subtraction</a>
  <a href="integration">Integration</a>
    <a href="projectile-motion">projectile-motion</a>
  <a href="#about">About</a>
</div>

<h1>Numerical Integrations</h1>
<form action="#" method="post">
	<p>Enter the equation that you want to integrate</p>
	<p><input type="any" name="int" /></p>
    <p>Enter the lower limit</p>
    <p><input type="any" name="a" /></p>
	<p>Enter the higher limit</p>
	<p><input type="any" name="b" /></p>
    <p>Number of slices to take</p>
    <p><input type="number" name="N" /></p>
	<p><input type="submit" value="integrate"/></p>
</form>
</body>
</html>