<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numerical Differentiation</title>
</head>
<body>
<div class="topnav">
  <a class="active" href="#">Home</a>
  <a href="addition">Addition</a>
  <a href="subtraction">Subtraction</a>
  <a href="integration">Integration</a>
    <a href="projectile-motion">projectile-motion</a>
  <a href="#about">About</a>
</div>

<h1>Numerical Differentiation</h1>
<form action="#" method="post">
	<p>Enter the equation that you want to differentiate</p>
	<p><input type="any" name="int" /></p>
    <p>Which value you want to know (example: pi)</p>
    <p><input type="any" name="z"/></p>

	<p><input type="submit" value="differentiate"/></p>
</form>
</body>
</html>