{% extends 'layout.html' %}
{% block content %}



		<div class="well well-lg">
			<h1 class="text-center">Cross Product</h1>
			<form action="#" method="POST">
                <h4>1st One</h4>
			<p>	<input type="any" name="u1" size="3"> i </p>
			<p>	<input type="any" name="u2" size="3"> j </p>
                <p>	<input type="any" name="u3" size="3"> k </p>

<br>
				<br>
                <h4>2nd One</h4>
				<p>	<input type="any" name="v1" size="3"> i </p>
				<p>	<input type="any" name="v2" size="3"> j </p>
                <p>	<input type="any" name="v3" size="3"> k </p>

<br>
                <br>
				<p><input type="submit" value="submit"/></p>
			</form>

		</div>
	</div>

{% endblock %}