<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vector Angle</title>
</head>
<body>
<form action="#" method="post">
    <h2>First Vector (Row Vector)</h2>
	<p>Enter the u1 value</p>
	<p><input type="any" name="u1" /></p>
    <p>Enter the u2 value</p>
	<p><input type="any" name="u2" /></p>
    <p>Enter the u3 value</p>
	<p><input type="any" name="u3" /></p>
    <h2>Second Vector (Column Vector)</h2>
    <p>Enter the v1 value</p>
	<p><input type="any" name="v1" /></p>
    <p>Enter the v2 value</p>
	<p><input type="any" name="v2" /></p>
    <p>Enter the v3 value</p>
	<p><input type="any" name="v3" /></p>

	<p><input type="submit" value="submit"/></p>
</form>

</body>
</html>